# cribl-control-plane SDK Environment Variables
# Copy this file to .env and fill in your actual values
# DO NOT commit the .env file to version control

# Uncomment if you want to run example against on prem Cribl instance
# DEPLOYMENT_ENV=onprem 

# Cloud configuration environment variables
# Fill it in only when running example against Cloud instance
CLIENT_ID=your-client-id
CLIENT_SECRET=your-client-secret
WORKSPACE_NAME=your-workspace-name
ORG_ID=your-org-id
CRIBL_DOMAIN=cribl.cloud

# On prem configuration
# Fill it in only when running example against on prem instance (some examples work only with Enterprise license)
ONPREM_SERVER_URL=http://localhost:9000
ONPREM_USERNAME=admin
ONPREM_PASSWORD=admin

# Debug Configuration
# Enable HTTP request/response logging for debugging
DEBUG_CLIENT=false